body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f4f4f4;
    color: #2c3e50;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lora', serif;
}

/* Barre de navigation supérieure */
.top-nav {
    background-color: #444; /* Couleur ajustée */
    padding: 4px 10px; /* Réduire la hauteur en ajustant le padding */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-nav .left-nav,
.top-nav .right-nav {
    display: flex;
    align-items: center;
}

.top-nav .left-nav a,
.top-nav .right-nav a {
    color: #fff; /* Couleur des caractères */
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    font-size: 0.9em; /* Taille des caractères */
    text-transform: uppercase; /* Texte en majuscules */
}

.top-nav .left-nav a:hover,
.top-nav .right-nav a:hover {
    text-decoration: underline;
}

.top-nav .right-nav #espace-partenaire { 
    background-color: #007bff; 
    color: #fff; 
    padding: 5px 10px; 
    border-radius: 5px; 
    text-transform: uppercase; /* Texte en majuscules */
}

/* Suppression du bloc du logo */
.main-logo {
    display: none;
}

/* Menu principal aligné sous la barre de navigation supérieure */
.navbar.main-menu {
    background-color: #444; /* Couleur ajustée pour correspondre à la maquette */
    padding: 10px 20px;
    display: flex;
    justify-content: center; /* Centrer les éléments du menu */
    align-items: center;
    margin-top: -2px; /* Ajuster pour éliminer tout espace entre les barres */
    border: none; /* Supprimer les bordures si nécessaire */
}

.navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-nav .nav-item {
    margin: 0 20px; /* Espacement uniforme entre les onglets */
}

.navbar-nav .nav-item .nav-link {
    color: #fff; /* Couleur blanche pour les onglets */
    font-weight: bold;
    padding: 10px 15px;
    position: relative;
    font-size: 1.2em; /* Taille des caractères */
    text-transform: uppercase; /* Texte en majuscules */
}

.navbar-nav .nav-item .nav-link:hover {
    color: #007bff;
    text-decoration: none;
}

.navbar-nav .nav-item .nav-link:hover::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff; /* Trait fin blanc au survol */
    position: absolute;
    bottom: -2px;
    left: 0;
}

/* Styles pour le menu déroulant */
.dropdown-menu {
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Styles pour les liens de la section Contact */
.top-nav .mini-nav > ul:not(.mini-sub-nav) > li > a.contact {
    color: #ffffff;
    cursor: pointer;
    display: block;
    font-family: 'Raleway', Helvetica, Arial, Verdana, sans-serif;
    font-feature-settings: normal;
    font-kerning: auto;
    font-optical-sizing: auto;
    font-size: 14px;
    font-weight: 400;
    height: 20px;
    letter-spacing: normal;
    line-height: 20px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    text-align: left;
    text-transform: uppercase;
    width: 66.625px;
    word-spacing: 0px;
}

/* Styles pour les liens de la section Carrière */
.top-nav .mini-nav > ul:not(.mini-sub-nav) > li > a.career {
    color: #ffffff;
    cursor: pointer;
    display: block;
    font-family: 'Raleway', Helvetica, Arial, Verdana, sans-serif;
    font-feature-settings: normal;
    font-kerning: auto;
    font-optical-sizing: auto;
    font-size: 14px;
    font-weight: 400;
    height: 20px;
    letter-spacing: normal;
    line-height: 20px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    text-align: left;
    text-transform: uppercase;
    width: 81.6875px;
    word-spacing: 0px;
}
/* Styles pour les liens de la section "Devenez Partenaire" */
.top-nav .mini-nav > ul:not(.mini-sub-nav) > li > a.partner {
    color: #ffffff;
    cursor: pointer;
    display: block;
    font-family: 'Raleway', Helvetica, Arial, Verdana, sans-serif;
    font-feature-settings: normal;
    font-kerning: auto;
    font-optical-sizing: auto;
    font-size: 14px;
    font-weight: 400;
    height: 20px;
    letter-spacing: normal;
    line-height: 20px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    text-align: left;
    text-transform: uppercase;
    width: 158.188px;
    word-spacing: 0px;
}

/* Styles pour la section LinkedIn */
.top-nav .mini-nav > ul:not(.mini-sub-nav) > li > a.linkedin {
    align-items: center;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: none;
    background-origin: padding-box;
    background-position-x: 0px;
    background-position-y: 0px;
    background-repeat: repeat;
    background-size: auto;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    box-shadow: none;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: inline-flex;
    font-family: "Playfair Display", Helvetica, Arial, Verdana, sans-serif;
    font-feature-settings: normal;
    font-kerning: auto;
    font-optical-sizing: auto;
    font-size: 16px;
    font-weight: 400;
    height: 26px;
    justify-content: center;
    letter-spacing: normal;
    line-height: 26px;
    margin: 0;
    opacity: 1;
    outline: none;
    padding: 0;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    width: 26px;
    word-spacing: 0;
}

/* Styles pour le logo */
.branding a img, .branding img {
    aspect-ratio: auto 169 / 148;
    border: none;
    color: rgb(35, 21, 19);
    cursor: pointer;
    display: inline;
    font-family: "Playfair Display", Helvetica, Arial, Verdana, sans-serif;
    font-size: 0;
    height: 148px;
    max-width: 100%;
    height: auto;
    width: 169px;
    overflow-clip-margin: content-box;
    overflow-x: clip;
    overflow-y: clip;
}
/* Styles pour la section Recherche */
.top-nav .mini-nav > ul:not(.mini-sub-nav) > li > a.research {
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    display: block;
    font-family: "Montserrat", Helvetica, Arial, Verdana, sans-serif;
    font-feature-settings: normal;
    font-kerning: auto;
    font-optical-sizing: auto;
    font-size: 14px;
    font-weight: 400;
    height: 20px;
    letter-spacing: normal;
    line-height: 20px;
    margin: 0 5px 0 0;
    padding: 0;
    text-transform: uppercase;
    width: 90.9375px;
    word-spacing: 0;
}

/* Styles pour le deuxième bandeau */
.second-menu {
    background-color: #333;
    padding: 10px 20px;
    display: flex;
    justify-content: center; /* Centre les éléments du menu */
    align-items: center;
    border: none;
    height: auto; /* Ajuster la hauteur automatiquement */
    width: 1122px; /* Largeur fixe */
    margin: 0 auto; /* Centrer le bandeau horizontalement */
}

.second-menu .navbar-nav {
    display: flex;
    justify-content: space-between; /* Espacer les éléments du menu */
    align-items: center;
    width: 100%; /* Assurer que les éléments occupent toute la largeur disponible */
    list-style: none;
    margin: 0;
    padding: 0;
    flex-wrap: nowrap; /* Empêcher les éléments de se replier sur plusieurs lignes */
}

.second-menu .nav-item {
    margin: 0 10px; /* Espacement uniforme entre les onglets */
}

.second-menu .nav-link {
    color: #fff; /* Couleur blanche pour les onglets */
    font-weight: bold;
    padding: 5px 10px;
    font-size: 0.9em; /* Taille des caractères */
    text-transform: uppercase; /* Texte en majuscules */
    white-space: nowrap; /* Empêcher les retours à la ligne */
    line-height: 1.5; /* Ajustement de la hauteur de ligne */
}

.second-menu .nav-link:hover {
    color: #007bff;
    text-decoration: none;
}

.second-menu .dropdown-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    top: 100%;
    left: 0;
    z-index: 1000;
}

.second-menu .nav-item.dropdown:hover .dropdown-menu {
    display: block;
}

.second-menu .dropdown-item {
    color: #333;
    padding: 10px 15px;
}

.second-menu .dropdown-item:hover {
    background-color: #007bff;
    color: #fff;
}

.nav.navbar.second-menu {
    width: 1122px;
    height: 308.78px;
    background-color: #212529;
    z-index: 1; /* Ajuste la valeur selon ton besoin */
}

ul.navbar-nav {
    width: 1122px; /* Largeur définie */
    height: 292.78px;
    z-index: 2; /* Placer ce bandeau au-dessus du premier */
    position: relative; /* S'assurer que la position est correcte */
}

  